<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geladeira - {{ title }}</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "add688cf-c254-4408-bfe3-144a9f17ad2f", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
</head>

<body id="page-top" class="index">
<style>
    
    .form-control:focus {
        border-color: #C1BEBE;
    }

</style>

    {% block content %}
    {% endblock %}

 <!-- Footer -->
    <footer class="footer-below">
        <div class="new-container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-1 aligning-text-right">
                        <a style="padding-top: 5px; font-style='Lato'; color:white;" href="#"><span>
                            Sobre
                        </span></a>
                    </div>
                    <div class="col-lg-1 aligning-text-left">
                        <a style="padding-top: 5px; font-style='Lato'; color:white;" href="#"><span>
                            Termos
                        </span></a>
                    </div>
     
                    <div class="col-lg-10 aligning-text-right">
                                       <span class='st_facebook_hcount' displayText='Facebook'></span>
                        <span class='st_twitter_hcount' displayText='Tweet'></span>
                        <span>
                            Geladeira do dia 20. Todos os direitos reservados.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-2.0.0.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/freelancer.js"') }}></script>

</body>
</html>