{% extends "base/layout.html" %}

{% block content %}
<div id="dialog" class="modal fade">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Modal title</h4>
	  </div>
	</div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style>
	.btn-primary {
  color: #ffffff;
  background-color: #0DCAF2;
  border-color: #F4F2F1;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #0DCAF2;
  background-color: #F5F5F5;
  border-color: #DBD8D7;
}

</style>
<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="col-lg-12 col-lg-offset-4">
			<div class="navbar-header">
				<a href="#"><img style="width:350px;" class="img-responsive" src="{{ url_for('static', filename='images/logo.png') }}" /></a>
			{% if not current_user.is_authenticated %}
            <a href="/login" class="btn btn-primary btn-default btn-sm" style="position: absolute; top: 10px; right: 285px;">
			<span class="glyphicon glyphicon-log-in"></span> logar / cadastrar-se</a>
            {% else %}
            <a href="#" class="btn btn-success btn-sm" style="position: absolute; top: 10px; right: 285px;">
            <span class="glyphicon glyphicon-log-in"></span> Ir para minha página</a>
            <a href="/logout/" class="btn btn-danger btn-sm" style="position: absolute; top: 50px; right: 285px;">
            <span class="glyphicon glyphicon-log-out"></span> Sair da minha conta</a>
            {% endif %}

			</div>
			
		</div>
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<section id="principal">
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4" style="margin-top: -5.2%;">
  	<img class="placa" src="{{ url_for('static', filename='images/placa_nova.png') }}" />
  </div>
  <form method="post" action="{{url_for('recipe_blueprint.recipes_search')}}" name="search_recipes">
  <div class="col-xs-6 col-md-4" style="padding-top: 5%;">
  		<div class="col-lg-10" style="width: 100%">
  			<input type="text" id="items" name="items" class="form-control"  />
  		</div>
  </div>
  <div class="col-xs-6 col-md-4 text-center">
  	<button id="search_recipes" class="search_recipes" type="submit">
  		<img src="{{ url_for('static', filename='images/buscar.png') }}" />
  	</button>
  </div>
  </form>
</div>
	<div class="new-container div-red-absolute">
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4" style="top:-67px;">
					
				</div>
				<div class="col-lg-4" style="padding-left:5%">
					<div class="row">
						<div class="col-lg-12">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}