<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Geladeira</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script>
	$(document).ready(function () {
		function checking() {
				var textBox =  $.trim( $('input[type=text]').val() )
				if (textBox == "") {
					$( "#dialog" ).show();
				}
			}
	</script>

</head>

<body id="page-top" class="index">


	<div id="dialog" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Modal title</h4>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
 
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="col-lg-12 col-lg-offset-4">
				<div class="navbar-header">
					<a href="#"><img style="width:350px;" class="img-responsive" src="images/logo.png" /></a>
				</div>
			</div>
        </div>
        <!-- /.container-fluid -->
    </nav>
	
	<header>
	
	</header>

    <!-- Header -->
	<section id="principal">
		<div class="new-container div-red-absolute">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-lg-4" style="top:-67px;">
						<img class="placa" src="images/placa_nova.png" />
					</div>
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-12">
								<div class="col-lg-10 aligning-text-left" style="padding-top:30px;">
									<input type="text" class="form-control"  />
								</div>
								<div id="12" class="col-lg-2">
									<a href="#" onclick="checking()"><img src="images/botao.png" /></a>
								</div>
							</div>
						</div>
						
					</div>
					<div class="col-lg-4">
						<div class="col-middle-input-button">
							<a href="pesquisa.html"><img src="images/buscar.png" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- Footer -->
	<footer class="footer-below">
		<div class="new-container">
			<div class="row">
				<div class="col-lg-12">
					<div class="col-lg-1 aligning-text-right">
						<a href="#"><span>
							Sobre
						</span></a>
					</div>
					<div class="col-lg-1 aligning-text-left">
						<a href="#"><span>
							Termos
						</span></a>
					</div>
					<div class="col-lg-10 aligning-text-right">
						<span>
							Geladeira do dia 20. Todos os direitos reservados.
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
   
    <!-- jQuery -->
    <script src="js/jquery-2.0.0.js"></script>
   

</body>

</html>
